<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>

	<header>
		<div class="center">
			<h2>
			    myApp
			</h2>
		</div>
	</header>
	<nav>
		<div class="center">
		<ul>	
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		</div>
	</nav>
		
	<section class="main center">
		<div class="single">
			<h2>Kenneth Yue</h2>
			<p>Hello!<br><br>
				My name is Kenneth Yue. I am a 3rd semester student currently studying Computer Programming and Analysis at Seneca
				College. I enjoy problem solving and coding. I really enjoy learning new languages and how they work and function.
				Currently my interests as far as programming and coding are concerned are working with C++, and JavaScript at the moment, '
				however I am also interested in learning Go and more about Python. In my past experiences I have learned VisualBasic, 
				Lua, and a little bit of Java and Python. I'm also interested in learning how containerization, Dockers and Kubernetes 
				as cloud computing is becoming more and more popular. In this class, WEB322, I'm currently learning how to work
				with Node JS. This app is a brief demonstration of what I have learned so far.
				<br><br>
				Kind regards,<br>
				Kenneth Yue<br><br>
			</p>
		</div>
	</section>
	<footer>
	    <div class="center">
		    &copy; 2018 Kenneth Yue
	    </div>
	</footer>
</body>
</html>	  