<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>

	<header>
		<div class="center">
			<h2>
			    myApp
			</h2>
		</div>
	</header>
	<nav>
		<div class="center">
		<ul>	
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		</div>
	</nav>
		
	<section class="main center">
	
		<h2>Kenneth Yue</h2>
        
	</section>
	<footer>
	    <div class="center">
		    &copy; 2018 Kenneth Yue
	    </div>
	</footer>
</body>
</html>	  