<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>

	<header>
		<div class="center">
			<h2>
			    myApp
			</h2>
		</div>
	</header>
	<nav>
		<div class="center">
		<ul>	
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		</div>
	</nav>
		
	<section class="two-column">
        <div class="left">
			<h2>Coming Soon</h2>
			<p>Stay tuned for new JS examples and proof-of-concept code.</p>
		</div>
        <div class="right">
			<h2>testing stuff</h2>
			<p>test</p>
			<p>test</p>
			<p>test</p>
        </div>
        
	</section>
	<footer>
	  <div class="center">
		  &copy; 2018 Kenneth Yue
	  </div>
	</footer>
</body>
</html>	  